.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;
    border-left: 4px solid transparent;
}

.active {
    border-left: 4px solid #35BCFF;
    background-color: #E8F7FE;
}

.number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 3px;

    color: #ffffff;
    background-color: #059CE6;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}