.label {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #000000;

    margin-bottom: 4px;
}

.select {
    width: 100%;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border: 1px solid #C2DCE5;
    border-radius: 4px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    background-image: url('/images/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 16px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select:focus,
.select:hover {
    border: 1px solid #059CE6;
}

.button {
    padding: 12px 18%;
    border: 1px solid #88AEBF;
    border-radius: 4px;
    background-color: inherit;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.button:hover {
    border-color: #059CE6;
}

.two {
    margin-bottom: 24px;
}

.textarea {
    display: block;
    width: 100%;
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid #C2DCE5;
    border-radius: 4px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;

    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.textarea:hover {
    border: 1px solid #059CE6;
}

.textarea::placeholder {
    color: #618B9E;
}